{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
<form method="post" action="{% url 'register' %}">
  {% csrf_token %}
  <h1 class="text-center">
    Register
  </h1>
  <div class="mb-3">
    <label for="name" class="form-label">
      Name
    </label>
    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" name="username" placeholder="Name" required autofocus>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">
      Password
    </label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
</div>
{% endblock %}
