{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="row">
  <p>Hello,</p>
</div>
<div class="row">
  <p>My name is Bittu and I am a passionate developer. Welcome to my quiz website!</p>
</div>
<div class="row">
  <p>Here, students have the opportunity to contribute their own questions and challenge other students. I believe that learning is not limited to textbooks, and by creating this platform, I aim to foster a collaborative and engaging environment for students to expand their knowledge. With the ability to add questions and participate in quizzes, students can actively participate in the learning process and test their understanding of various subjects.</p>
</div>
<div class="row">
  <p>Join me on this exciting journey of exploration and let's enhance our knowledge together. Feel free to reach out to me on my GitHub page at <a href="https://github.com/Dev-Bittu">Dev-Bittu</a> for any suggestions or feedback.</p>
  <p>Happy quizzing!</p>
</div>
<div class="row">
  <p>~<em>Bittu</em></p>
</div>
{% endblock %}
